pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.7.scx1
	pkgrel = 1
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.sign
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.0-scx1/linux-v6.7.0-scx1.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.0-scx1/linux-v6.7.0-scx1.patch.zst.asc
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	sha256sums = ef31144a2576d080d8c31698e83ec9f66bf97c677fa2aaf0d5bbb9f3345b1069
	sha256sums = SKIP
	sha256sums = e9c68fb88134e88d5eef32b0b32ccc968d10761d6e0915c1b57696d70b6c682d
	sha256sums = SKIP
	sha256sums = 06c269a9e06e047effa5e142764f75aec5980a7fe9ad3edb6b283a3e0c5ccb3a

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
