pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.7.scx2
	pkgrel = 3
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.tar.sign
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.0-scx2/linux-v6.7.0-scx2.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.0-scx2/linux-v6.7.0-scx2.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-wifi-ath11k-rely-on-mac80211-debugfs-handling-for-vi.patch
	source = 0004-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	sha256sums = ef31144a2576d080d8c31698e83ec9f66bf97c677fa2aaf0d5bbb9f3345b1069
	sha256sums = SKIP
	sha256sums = 5bdef5bd45907717ca1beb7342bc79c027a2487fc6bf9ca730dd1575eb6cf017
	sha256sums = SKIP
	sha256sums = 15d79255f7a37bc71060d3a3804d349791f500650fe0c9dd75ef81373c7db1f0
	sha256sums = 1d8da585786ca62e91eba068b0090d57e79c5b0a6d11d732dc32845c3d730ad5
	sha256sums = 7f2ef383034389ff54976e1db23c0b22e476a113a74f7fc448a2d1773b81e384
	sha256sums = 217f22855fada971b955abdc1b55f4b762b50f124e30c30d1becc871b21029a8
	sha256sums = 75f47744d2dc7f311ef19f899483defce3dc37b9730eda914d0d25229c68769d

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
