pkgbase = linux-sched-ext
	pkgdesc = Linux
	pkgver = 6.8.scx1
	pkgrel = 3
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = git
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.tar.sign
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.8.0-scx1/linux-v6.8.0-scx1.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.8.0-scx1/linux-v6.8.0-scx1.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = c969dea4e8bb6be991bbf7c010ba0e0a5643a3a8d8fb0a2aaa053406f1e965f3
	sha256sums = SKIP
	sha256sums = 104f9da2ea24197f4f80fcd3f8c7f99f065dd185e943cb620ab80fe4d9f191e0
	sha256sums = SKIP
	sha256sums = 06965d47d456bf2f81b3ad17a5e2dda2de4ed7b17ae1d05824aa90070fe2b420
	sha256sums = e1f0ee1527c15848e108911e4bd6474d767268dfd7830ccffd05520d79bed1ff
	sha256sums = d544967393124e8caa83c440f7d51ec57a5379359245d1b3ba1332cad7d46240
	sha256sums = ab236ce4dd59beb522fc374ca29549774554cdb1207c30b5793523cd86675a32

pkgname = linux-sched-ext
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
