pkgbase = linux-sched-ext
	pkgdesc = Linux
	pkgver = 6.9.1.scx1
	pkgrel = 1
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = git
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.1.tar.sign
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.9.1-scx1/linux-v6.9.1-scx1.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.9.1-scx1/linux-v6.9.1-scx1.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = 01b414ba98fd189ecd544435caf3860ae2a790e3ec48f5aa70fdf42dc4c5c04a
	sha256sums = SKIP
	sha256sums = a59b0db258d14dd10326a56734b86ee7f0d66691892411ee9a2ffcc0359b6e1b
	sha256sums = SKIP
	sha256sums = e0352ba4caec7c573c785680f0ecb0443a8e800999e6c80e9471ef7f47aa6d21
	sha256sums = 14488e2690a10119f279ce037655910dbe0857cbbd134e4da6f48ac7f6f57267
	sha256sums = a48479b440827a95992d3d064e295e0b62442fe25579cd58b26d22e03b0b0cfa
	sha256sums = c4559cab8ce4ad799689a8eac25e9feddf57029f6441567ba14a0c5bd6cdd96f

pkgname = linux-sched-ext
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
