pkgbase = linux-sched-ext-rc
	pkgdesc = Linux
	pkgver = 6.9rc3.scx1
	pkgrel = 1
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = git
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-6.9-rc3::https://github.com/torvalds/linux/archive/refs/tags/v6.9-rc3.tar.gz
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.9-rc3-scx1/linux-v6.9-rc3-scx1.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.9-rc3-scx1/linux-v6.9-rc3-scx1.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = 9e53a8268c25dcb948cd4002cf08be1a90a6cebfb0aef402370f32fa62ecf848
	sha256sums = 6e5a18ef05a019857b6b9a6f4fc0cb2958e03e469b2a7c6338370d3ba2d4522b
	sha256sums = SKIP
	sha256sums = efb6093196dd7f9f29ea7a5ae3f09a1284286322eff0f793fa254404f941b748
	sha256sums = 14488e2690a10119f279ce037655910dbe0857cbbd134e4da6f48ac7f6f57267
	sha256sums = a48479b440827a95992d3d064e295e0b62442fe25579cd58b26d22e03b0b0cfa
	sha256sums = c4559cab8ce4ad799689a8eac25e9feddf57029f6441567ba14a0c5bd6cdd96f

pkgname = linux-sched-ext-rc
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-sched-ext-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
