pkgbase = linux-sched-ext
	pkgdesc = Linux
	pkgver = 6.7.6.scx2
	pkgrel = 1
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.6.tar.sign
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.6-scx2/linux-v6.7.6-scx2.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.7.6-scx2/linux-v6.7.6-scx2.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = e489ec0e1370d089b446d565aded7a698093d2b7c4122a18f21edb6ef93d37d3
	sha256sums = SKIP
	sha256sums = 2309b9e06bdb547c665f2a7bb74107c3c60309d8158a41e79b7ec6c003045f9f
	sha256sums = SKIP
	sha256sums = 0f9f2c1d0bce80e86e01296445ea6394161be7766cdf44327666be43011b2c18
	sha256sums = 4422bca597c048f8e18b47fc873b160eec945a434bbb51cbedeaf880d7e8d9fa
	sha256sums = 967b789d2448898bafbd7cb5ae052f935c5fa26a9b27e2327d5987b9ec37dfbb
	sha256sums = 526b598fd59ef3c13fc1186b0abbf19ffb03eb27ba8f2072eb8525337bd11107

pkgname = linux-sched-ext
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-sched-ext-docs
	pkgdesc = Documentation for the Linux kernel
