pkgbase = linux-sched-ext
	pkgdesc = Linux
	pkgver = 6.8rc4.scx2
	pkgrel = 1
	url = https://github.com/sched-ext/scx-kernel-releases
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = git
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = linux-v6.8-rc4::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v6.8-rc4
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.8.0-rc4-scx2/linux-v6.8.0-rc4-scx2.patch.zst
	source = https://github.com/sched-ext/scx-kernel-releases/releases/download/v6.8.0-rc4-scx2/linux-v6.8.0-rc4-scx2.patch.zst.asc
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drivers-firmware-skip-simpledrm-if-nvidia-drm.modese.patch
	source = 0003-arch-Kconfig-Default-to-maximum-amount-of-ASLR-bits.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 697C63013E65270255EBC2608744DC1EB26B5A9A
	validpgpkeys = F5504C7B7B8107B40EF9E97AA1148BB3207BCC33
	sha256sums = SKIP
	sha256sums = 17334d7f8f7ce734baed89024ca8ebd8c9a0c4d0206aaa505467a7d4d033beb1
	sha256sums = SKIP
	sha256sums = ca588923cd41b08eb920c9bc44cc89137c95f3c0cb1bd6650d638e69711dc84a
	sha256sums = e1f0ee1527c15848e108911e4bd6474d767268dfd7830ccffd05520d79bed1ff
	sha256sums = d544967393124e8caa83c440f7d51ec57a5379359245d1b3ba1332cad7d46240
	sha256sums = ab236ce4dd59beb522fc374ca29549774554cdb1207c30b5793523cd86675a32

pkgname = linux-sched-ext
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-sched-ext-docs
	pkgdesc = Documentation for the Linux kernel
